<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mynanodegreeapps">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".movies.MoviesActivity"
            android:label="@string/text_Movies" />
        <activity
            android:name=".movies.MovieDetailActivity"
            android:label="@string/text_Movies" />

        <provider
            android:name=".movies.data.MovieProvider"
            android:authorities="com.mynanodegreeapps"
            android:exported="false" />

        <activity
            android:name=".bakingapp.BakingActivity"
            android:label="@string/text_baking" />
        <activity
            android:name=".bakingapp.BakingDetailActivity"
            android:label="@string/text_baking_detail" />

        <activity
            android:name=".bakingapp.BakingIngredientListActivity"
            android:label="@string/text_baking_ingredient_detail" />

        <receiver android:name=".bakingapp.widget.BakingAppWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/baking_app_widget_provide_info" />
        </receiver>

        <service
            android:name=".bakingapp.widget.BakingAppRemoteViewService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>


    </application>

</manifest>